1<header>
  <button id="play-pause" data-playing="false"><i class="fa fa-play"></i></button>
  <label>Drum Machine</a></label>
</header>
<div class="container player"></div>
<audio id="5" src="https://freewavesamples.com/files/Electronic-Kick-2.wav"></audio>
<audio id="4" src="https://freewavesamples.com/files/Hip-Hop-Snare-3.wav"></audio>
<audio id="3" src="https://freewavesamples.com/files/Ensoniq-SQ-1-Closed-Hi-Hat.wav"></audio>
<audio id="2" src="https://freewavesamples.com/files/Ensoniq-SQ-1-Open-Hi-Hat.wav"></audio>
<audio id="1" src="https://freewavesamples.com/files/Electronic-Tom-3.wav"></audio>
